* {
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: auto;
    background-color: rgb(74, 78, 88);
    color: white;
}

.score {
    margin: 0.25em;
    padding: .75em;
    font-family: "Righteous";
    font-size: 32px;
}

.gameover {
    display: none;
}

.timer {
    font-family: "Righteous";
    padding: 4em;
    font-size: 36px;
}

.quiz {
    display: flex;
    border: solid white;
    background: gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    margin: 0.5em;
    border-radius: 14px;
}

.start-text {
    font-size: 64px;
    font-family: "Righteous";
    font-weight: lighter;
}

.questions {
    width: 100%;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.answers {
    width: 100%;
    padding: 0.5em;
    margin: 1em;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

.info {
    padding: 1.5em;
    margin: 2em;
    display: flex;
}

.highscore-link {
    padding: 1em;
    margin: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 32px;
    font-family: "Righteous";
}

.return-link {
    padding: 1em;
    margin: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0;
    text-decoration: none;
    font-size: 32px;
    font-family: "Righteous";
}

.back {
    text-align: center;
}

.highscore {
    display: flex;
    border: solid white;
    background: gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 6em 2em 6em 2em;
    border-radius: 14px;
}

.highscore h1 {
    padding: 0;
    margin: 0;
}

.highscore-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over {
    font-family: "Righteous";
    font-size: 64px;
    margin: 0.5em;
    padding: 5em;
}

a {
    text-decoration: none;
    color: white;
}


.timer {
    padding: 1em;
    margin: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}

.Abutton {
    text-decoration: none;
    background-image:radial-gradient(#01914e 0%, #022a01 100%);
    font-size: 32px;
    border:white solid;
    color:white;
    margin: .5em;
    border-radius: 10px;
    width: 75%;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

button:hover {
    background-image: radial-gradient(#a0cab6 0%, #076918 100%);
}

.start-button {
    text-decoration: none;
    border-radius: 60px;
    background-image:radial-gradient(#01914e 0%, #022a01 100%);
    color:white;
    font-size: 32px;
    border:white solid;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    
}

.lists {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.name-list {
    text-align: center;
    list-style: none;
    width: 50%;
    font-size: 20px;
    font-family: "Righteous";
    font-weight: lighter;
}

.score-list{
    text-align: center;
    list-style: none;
    width: 50%;
    font-size: 20px;
    padding-top: 0.15em;
}