* {
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: auto;
    background-color: black;
    color: white;
}

li {
    text-decoration: none;
    list-style: upper-alpha;
}


.highscore {
    border: solid white;
}

.timer {
    border: solid white;
}

.quiz {
    display: flex;
    border: solid white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    margin: 2em;
}

.questions {
    width: 100%;
    border: white solid;
    margin: 0.5em
}

.answers {
    width: 100%;
    border: white solid;
    padding: 0.5em;
    margin: 1em;
}

.info {
    padding: 1.5em;
    margin: 2em;
    border: solid white;
    display: flex;
}

.highscore {
    padding: 1em;
    margin: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}


.timer {
    padding: 1em;
    margin: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}

button {
    text-decoration: none;
    border-radius: 60px;
    background-image:radial-gradient(#01914e 0%, #022a01 100%);
    color:white;
    font-size: 32px;
    border:white solid;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    
}