* {
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
    margin: 0;
    padding: auto;
    background-color: rgb(74, 78, 88);
    color: white;
}

.score {
    border: solid white;
}

.timer {
    border: solid white;
    font-family: "Righteous";
    padding: 4em;
    font-size: 36px;
}

.quiz {
    display: flex;
    border: solid white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    margin: 2em;
}

.questions {
    width: 100%;
    border: white solid;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 32px;
    font-weight: bold;
}

.answers {
    width: 100%;
    border: white solid;
    padding: 0.5em;
    margin: 1em;
}

.info {
    padding: 1.5em;
    margin: 2em;
    border: solid white;
    display: flex;
}

.highscore {
    padding: 1em;
    margin: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}


.timer {
    padding: 1em;
    margin: 0.5em;
    padding-top: 0;
    padding-bottom: 0;
}

.Abutton {
    text-decoration: none;
    background-image:radial-gradient(#01914e 0%, #022a01 100%);
    font-size: 32px;
    border:white solid;
    color:white;
    margin: .5em;
    border-radius: 10px;
    width: 75%;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}

button:hover {
    background-image: radial-gradient(#a0cab6 0%, #076918 100%);
}

.start-button {
    text-decoration: none;
    border-radius: 60px;
    background-image:radial-gradient(#01914e 0%, #022a01 100%);
    color:white;
    font-size: 32px;
    border:white solid;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    
}